*{
  background-color: #555;
}
.container ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #777;
  height:70px;
  padding:0px;
  margin:0px;
}
.container li{
  margin: 15px 10px;
  padding: 20px 15px;
  border: 3px solid #FFF;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.container a{
  text-decoration: none;
  color:#FFF;
}
.header{
  margin:0px;
  height: 90px;
  background-color: #999;
  width:100%
}
.header h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#FFF;
  font-size:80px;
}
img{
  display: flex;
  justify-content: center;
  height:550px;
  width:700px;
}
.carousel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}
.gallery ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.gallery li{
  display: flex;
  margin:10px 20px 10px 1px;
  justify-content: space-between;
}
.gallery img{
  height:250px;
  width:250px;
}
.footer{
  height:300px;
  background-color: #000;
}
